//Colors
$white:#fff;
$snow:#fafafa;
$quick-silver:#a0a0a0;

$jelly-bean:#e56353;
$salmon:#e97f72;
$pastel-pink:#f0a9a1;

$granite-gray:#686963;
$taupe-gray:#91918d;
$gray:#babab8;

//Typography
$open-sans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;

//Font Sizes
$xx-large:100px;
$x-large:70px;
$large:50px;
$medium: 33px;
$small:18px;
$x-small:14px;

//Sizes

h1{
    font-family: $raleway;
    font-size: $x-large;
    font-weight: lighter;
}

h2{
    font-family: $raleway;
    font-size: $medium;
    font-weight: bold;
    text-align: center;
}

p{
    font-family: $raleway;
    font-size: $x-small;
    font-weight: normal;
}